<!DOCTYPE html>
<html lang="en" ng-app="TestApp">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<script srsc="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
</head>
<body ng-controller="TestAppController as app">
	<h1><a href="https://github.com/pavelglebov/angular-virtual-select">Angular-virtual-select</a></h1>
	<h3><small>Select with virtualization that imitates ui-select behavior and uses bootstrap styles</small></h3>

	<div class="content">
		<h4>Performance comparison</h4>
		<hr>

		<div class="array-size-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text" id="btnGroupAddon">Change input array size:</div>
				</div>

				<div class="btn-group mr-2" role="group" aria-label="First group">
					<button type="button" class="btn btn-outline-danger" ng-class="{'active': app.listLength == 1000}" ng-click="app.changeArraySize(1000)">1000</button>
					<button type="button" class="btn btn-outline-danger" ng-class="{'active': app.listLength == 5000}" ng-click="app.changeArraySize(5000)">5000</button>
					<button type="button" class="btn btn-outline-danger" ng-class="{'active': app.listLength == 20000}" ng-click="app.changeArraySize(20000)">20000</button>
				</div>
			</div>
		</div>

		<div class="flex-row">
			<div class="flex-col flex-1">
				<h6>Angular-virtual-select</h6>

				<virtual-select choices-repeat="app.list" ng-model="app.selected" display-property="'label'" placeholder="'Select user'"></virtual-select>
			</div>
			<div class="flex-col flex-1">
				<h6>Ui-select</h6>

				<ui-select multiple ng-model="app.selected2" theme="bootstrap" close-on-select="false">
					<ui-select-match placeholder="Select user">{{$item.label}}</ui-select-match>
					<ui-select-choices repeat="person as person in app.list | propsFilter: {label: $select.search, age: $select.search} track by $index">
						<div ng-bind-html="trustAsHtml(person.name)"></div>
						<small>
							{{person.label}}
						</small>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="flex-col flex-1 native-select">
				<h6>Html select</h6>

				<select ng-options="item as item.label for item in app.list track by $index" ng-model="app.selected3"></select>
			</div>
		</div>

		<div class="flex-row">
			<span>*Also compare search performance</span>
		</div>
	</div>

</body>
</html>