html {
	height: 100%;
}

body {
	padding: 40px 80px;
	color: #45484a;
	background: #e2e2e21a;
}

h1 a {
	color: #45484a;
}

h1 a:hover {
	color: #45484a;
}

.content {
	margin-top: 80px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.flex-col {
	display: flex;
	flex-direction: column;
	text-indent: 20px;
}

.flex-col:not(:last-child) {
	margin-right: 20px;
}

.flex-col h6 {
	margin-bottom: 20px;
}

.flex-1 {
	flex: 1;
}

.array-size-group {
	margin: 20px 0 40px 0;
}

.input-group button {
	padding-left: 70px;
	padding-right: 70px;
}

.input-group button:nth-child(1) {
	/*background-color: #dc3545d1;*/
}

.input-group button:nth-child(2) {
	/*background-color: #dc3545eb;*/
}

.virtual-select {
	max-height: 25vh;
}

.content .ui-select-choices {
	display: block;
}

.content .ui-select-container {
	min-height: 45px;
	line-height: 36px;
}

.content .ui-select-container > div:first-child {
	max-height: 25vh;
	overflow: auto;
}

.native-select select {
	height: 45px;
	border-color: rgba(0, 0, 0, 0.15);
}